/* Wave.module.less：组件私有布局样式 */

.waveContainer {
  position: relative;
}

.waveMaskWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

/* 组件内部使用的 wave 类，只做必要的私有设置。
   动画和 mask 的通用部分放在全局 .wave-base 里。 */
.wave {
  /* 如果以后有针对这个组件的私有样式，可以写在这里 */
}
/* Wave.less：放全局的波浪动画和基础样式 */

@keyframes wave-animation {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(var(--wave-translate, -250px));
  }
}

/* 组件专属动画类，使用 CSS Module 作用域 */
.waveBase {
  width: 200vw;
  mask-repeat: repeat-x;
  -webkit-mask-repeat: repeat-x;
  will-change: transform;
  animation: wave-animation var(--animation-duration, 5s) linear infinite;
}

/* 可选：如果你项目里原本就有 colored-area，可以在这统一写 */
.colored-area {
  /* 例如：默认渐变背景，也可以留空，交给 inline style 覆盖 */
  /* background: oklch(95% 0.10 var(--chromatic-hue)); */
}
