.dialog :global(.ant-modal-container) {
  background: none!important;
  box-shadow: none!important;
  padding: 0!important;
}

.dialog{
    border-radius: 20px;
  border: 1px solid rgb(226 232 240); /* slate-200 */
  background-color: rgba(255, 255, 255, 0.20);
  padding: 20px 24px !important;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
  backdrop-filter: blur(24px) !important
}
