@import "antd/dist/reset.css";
@import "tailwindcss";

:root {
  --primary: #CCFF00;
    --danger: #FF0055;
    --bg: #0a0a0a;
    --text: #ffffff;
    --secondary-text: #888888;
}


body {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--bg);

  width: 100%;
  height: 100dvh;
}

.border {
  border: 1px solid rgb(34, 34, 34)!important;
}
